# mxdev\app.py: 1
Flask == 2.1.2
Werkzeug==2.2.2
# mxdev\app.py: 3
python_dotenv == 0.20.0

# mxdev\src\events.py: 2
pytz == 2022.1

# mxdev\src\events.py: 3
requests == 2.28.1

# Other packages:
gunicorn == 20.1.0
importlib-metadata == 4.12.0
zipp == 3.8.0
