<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Somos una comunidad de personas interesadas en tecnología donde charlamos sobre programación y contribuimos al planeta.">
    <meta name="keywords"
        content="mexicodev, software, discord, comunidad, programadores, programacion, code, coding, python, javascript, community, desarrolladores, latino, america, mexico">
    <!-- Primary Meta Tags -->
    <meta name="title" content="MexicoDev - Comunidad Tecnológica">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mexicodev.org">
    <meta property="og:title" content="MexicoDev - Comunidad Tecnológica">
    <meta property="og:description"
        content="Somos una comunidad de personas interesadas en tecnología donde charlamos sobre programación y contribuimos al planeta.">
    <meta property="og:image" content="{{ url_for('static', filename='images/graph.png') }}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://mexicodev.org">
    <meta property="twitter:title" content="MexicoDev - Comunidad Tecnológica">
    <meta property="twitter:description"
        content="Somos una comunidad de personas interesadas en tecnología donde charlamos sobre programación y contribuimos al planeta.">
    <meta property="twitter:image" content="{{ url_for('static', filename='images/graph.png') }}">
    <title>MexicoDev - Comunidad Tecnológica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/62b00c34e4.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- navbar -->
    <div class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg sticky-top border-bottom border-dark border-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images/logoweb4.svg') }}" alt="MexicoDev" height="30" width="240" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav links-nav">
                    <li class="nav-item">
                        <a href="https://discord.gg/mexicodev" class="nav-link" target="_blank" aria-label="Discord">
                            <i class="fab fa-discord"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/mexico-dev" class="nav-link" target="_blank" aria-label="Github">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/mexicodev_" class="nav-link" target="_blank" aria-label="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.youtube.com/channel/UCbFBkOMEZYYCqoEvyWVAmgg" class="nav-link"
                            aria-label="YouTube" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>                    
                    <li class="nav-item">
                        <a href="https://reddit.com/r/mexicodev" class="nav-link"
                            aria-label="Reddit" target="_blank">
                            <i class="fab fa-reddit"></i>
                        </a>
                    </li>
                </ul>
                {% if session['logged_in'] %}
                <ul class="navbar-nav ms-auto links-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="{{ session['avatar'] }}" class="rounded-circle me-2" height="38" />{{
                            session['username'] }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><i class="fas fa-user-circle"></i> Mi cuenta</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fas fa-trophy"></i> Certificados</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}"><i
                                        class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <div class="nav-link">
                            <a href="{{ url_for('login') }}"><button type="button" class="btn btn-outline-light"><i
                                        class="fab fa-github"></i> Iniciar sesión</button></a>
                        </div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- main div -->
    <div class="container main text-light">
        <!-- aprende a programar -->
        <div class="row">
            <div class="col border-bottom border-dark px-5 py-3 h1index pindex text-center">
                <p>
                <h1>Aprende, construye, practica y certifícate.</h1>
                </p>
                <p>
                    <img src="{{ url_for('static', filename='images/evento2.webp') }}" alt="event" class="img-fluid"  width="1224" height="719"/>
                </p>
                <p class="mt-5 text-center">
                    <a href="https://discord.com/invite/xgNYquK6Vc" target="_blank">
                        <button type="button" class="btn btn-dark btn-lg"><i class="fas fa-share"></i> Unirme
                            ahora</button>
                    </a>
                </p>
            </div>
        </div>
        <!-- eventos -->
        <div class="row">
            <div class="col border-bottom border-dark p-5">
                <h1><i class="fas fa-calendar"></i> Eventos</h1>
                <p class="mt-3 mb-5">
                    Cada semana en nuestro servidor de discord vamos a presentar un algoritmo básico de programación
                    discutir sus usos, su implementación, así como tomar conceptos como unit testing y como confrontar
                    las preguntas técnicas que se puedan encontrar en una entrevista de trabajo.
                </p>
                {% if events %}
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for event in events %}
                    <div class="col">
                        <div class="card bg-dark text-white rounded border-dark">
                            {% if event.image %}
                                <img src="{{ event.image }}" class="card-img-top" alt="event-{{ event.name }}" width="598" height="100%">
                            {% endif %}
                            <div class="card-body">
                                <p class="card-text"><img src="{{ event.creator.avatar }}" class="rounded-circle me-2" alt="avatar"
                                        width="38" height="38" />{{ event.creator.name }} </p>
                                <h4 class="card-title">{{ event.name }}</h4>
                                <p class="card-text">{{ event.description|safe }}</p>
                            </div>
                            <div class="card-footer" style="border-top: 1px solid #212529 !important;">
                                <small class="text-muted"><i class="fas fa-calendar"></i> {{ event.date }}</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                {% endif %}
            </div>
        </div>
        <!-- advent of code-->
        <div class="row">
            <div class="col border-bottom border-dark p-5 text-center">
                <h1><i class="fa-solid fa-star"></i> Advent of Code {{ leaderboard["event"] }}</h1>
                <p class="mt-3 mb-5">
                    Advent of Code es un calendario de Adviento de pequeños rompecabezas de programación para una variedad de conjuntos de habilidades y niveles que se pueden resolver en cualquier lenguaje de programación que desees. En MexicoDev nos reunimos para resolver los problemas discutir las soluciones para asi poder aprender de los demás.
                </p>
                {% if events %}
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for event in events %}
                    <div class="col">
                        <div class="card bg-dark text-white rounded border-dark">
                            {% if event.image %}
                                <img src="{{ event.image }}" class="card-img-top" alt="event-{{ event.name }}" width="598" height="100%">
                            {% endif %}
                            <div class="card-body">
                                <p class="card-text"><img src="{{ event.creator.avatar }}" class="rounded-circle me-2" alt="avatar"
                                        width="38" height="38" />{{ event.creator.name }} </p>
                                <h4 class="card-title">{{ event.name }}</h4>
                                <p class="card-text">{{ event.description|safe }}</p>
                            </div>
                            <div class="card-footer" style="border-top: 1px solid #212529 !important;">
                                <small class="text-muted"><i class="fas fa-calendar"></i> {{ event.date }}</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                {% endif %}
            </div>
        </div>
        <!-- advent of code-->
        <!-- partners -->
        <div class="row">
            <div class="col border-bottom border-dark p-5">
                <h1><i class="fas fa-medal"></i> Partners</h1>
                <div class="row mt-3 text-center partner-url">
                    <div class="col">
                        <a href="https://discord.gg/D2p2SZ7MGx" target="_blank">
                            <img class="rounded-circle float-animation" alt="World Hacking" height="128" width="128"
                                src="{{ url_for('static', filename='images/partners/wh.webp' ) }}">
                        </a>
                        <a href="https://discord.gg/D2p2SZ7MGx">
                            <h4 class="mt-3">World Hacking</h4>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://twitter.com/outlinecc" target="_blank">
                            <img class="rounded-circle float-animation" alt="Outline" height="128" width="128"
                                src="{{ url_for('static', filename='images/partners/outline.webp') }}">
                        </a>
                        <a href="https://twitter.com/outlinecc">
                            <h4 class="mt-3">Outline</h4>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://discord.gg/WesyDceru9" target="_blank">
                            <img class="rounded-circle float-animation" alt="Watermelon Code" height="128" width="128"
                                src="{{ url_for('static', filename='images/partners/watermeloncode.webp') }}">
                        </a>
                        <a href="https://discord.gg/WesyDceru9">
                            <h4 class="mt-3">Watermelon Code</h4>
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://hackcode.club/" target="_blank">
                            <img class="rounded-circle float-animation" alt="HackCode" height="128" width="128"
                                src="{{ url_for('static', filename='images/partners/hackcode.webp') }}">
                        </a>
                        <a href="https://hackcode.club/">
                            <h4 class="mt-3">HackCode</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- discord -->
        <div class="row">
            <div class="col border-bottom border-dark p-5">
                <h1><i class="fab fa-discord"></i> Discord</h1>
                <p class="alert alert-dark text-light bg-dark border-dark mt-3">
                    Discord es un servicio de mensajería instantánea freeware de chat de voz VolP, video y chat por
                    texto. Funciona a través de servidores y está separado en canales de texto o de voz. Discord está
                    disponible para Microsoft Windows, MacOS, Android, iOS y Linux.
                </p>
                <p>
                    La mayoría de <b>charlas y eventos</b> se realizan a través de discord, por lo cual de invitamos a
                    unirte a nuestro servidor en el cual convivimos diariamente.
                </p>
                <p>
                    Somos <b>socios de Discord</b>, con esto tenemos algunas ventajas respecto a otros servidores tales
                    como una mejor tasa de bits en las transmisiones, acceso a nuevas actualizaciones y el
                    <b>reconocimiento de Discord a nuestra comunidad. </b>
                </p>
                <p class="p-5">
                    <img src="{{ url_for('static', filename='images/discord.webp') }}" alt="MexicoDev-Discord" width="760" height="160"
                        class="mx-auto d-block img-fluid rounded" />
                </p>
                <div class="row mt-3">
                    <div class="col text-center">
                        <iframe title="Discord Invitation" src="https://discordapp.com/widget?id=818251363012182023&theme=dark" height="500"
                            allowtransparency="true" frameborder="0"
                            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
                            style="width: 100%;"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col p-5 border-bottom border-dark">
                <h1>¿Qué esperas para unirte? </h1>
                <p class="mt-5 text-center">
                    <a href="https://discord.gg/mexicodev" target="_blank">
                        <button type="button" class="btn btn-dark btn-lg"><i class="fas fa-comment-alt"></i> Unirme a la
                            charla</button>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="bg-dark text-center text-lg-start text-light">
        <!-- Copyright -->
        <div class="text-center p-5">
            Copyright © 2021 - 2023 <b>MexicoDev</b> Coded with <i style="color: red;" class="fas fa-heart"></i>
        </div>
        <!-- Copyright -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
